
@font-face {
    font-family: "Lato Regular";
    src: url(../fonts/Lato-Regular.ttf);
}
@font-face {
    font-family: "Lato Bold";
    src: url(../fonts/Lato-Bold.ttf);
}

body {
    background-color: #433cd1;
    transition: background-color 0.3s linear;
    color: #fff;
    font-family: "Lato Regular";
}
h1 {
    font-family: "Lato Bold";
    font-size: 100pt;
    line-height: 80pt;
    margin-bottom: 60px;
}
h1 > small {
    font-size: 32pt;
    color: #fff;
}
h2 {
    padding: 30px 10px;
}
label {
    font-size: 14pt;
    font-family: "Lato Bold";
    font-weight: normal;
}
label > small {
    font-size: 65%;
    font-family: "Lato Regular";
}
td, th {
    border-top: none !important;
    padding: 15px 20px !important;
    border-right: 1px solid #433cd1;
}
th {
    font-weight: normal;
    padding: 17px 20px !important;
}

.input-unico > .form-control {    
    height: 60px;
    background-color: #322d9c;
    font-family: "Lato Bold";
    border-radius: 0px;
    border: none;
    font-size: 18pt;
    color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.input-unico > .flecha {
    background: none;
    border: none;
    position: absolute;
    right: 10px;
    top: 50px;
}
.input-unico > .flecha:hover {
    outline-color: transparent!important;
}
.input-unico > .flecha:focus {
    outline-color: transparent!important;
}
.input-unico > .progresso {
    width: 0%;
    transition: width 1.0s ease-in-out; 
    background-color: #6861f4;
    height: 7px;
}
.input-unico > .validacao {
    margin-top: 20px;
    color: #fff;
    background-color: #f46161;
    border-radius: 0px;
    font-size: 14pt; padding: 12px;
}

.container {
    margin-bottom: 30px;
}
.fundo-escuro {
    background-color: #322d9c
}
.botao-padrao {
    background-color: #36d8fb;
    border: none;
    padding: 15px 25px;
    font-size: 12pt;
    margin-top: 40px;
    font-family: "Lato Bold";
}
.link-branco {
    color: white;
}
.link-branco:hover {
    color: white;
}
.margin-top-default {
    margin-top: 50px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #302aab;   
}
.table-striped > tbody > tr {
    background-color: #211c93;   
}

#view {
    margin: 0 auto; 
    position: relative;
}
#imagem_formulario {
    position: absolute; 
}
#imagem_resultado {
    position: absolute; 
}

@media (min-width: 600px){
    #view {
        width: 400px;                      
    }
    h1 {
        margin-top: 40px;                     
    }
    #imagem_formulario {
        top: -135px; 
        right: -40px;
    }
    #imagem_formulario > img {
        height: 160px;
    }
    #imagem_resultado {
        top: 65px; 
        left: 50%;
        margin-left: -320px;
    }
    #imagem_resultado > img {
        height: 250px;
    }
}

@media (max-width: 600px){
    #view {
        width: 100%;                      
    }  
    h1 {
        margin-top: 0px;                     
    }   
    #imagem_formulario {
        top: -75px; 
        right: 5px;
    } 
    #imagem_formulario > img {
        height: 100px;
    }    
    #imagem_resultado {
        display: none;
    }
}
