<!DOCTYPE html>
<html ng-app="ImcApp">
    <head>
        <title>Calcule o seu Índice de Massa Corporal - IMC</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Você que deseja saber se está no peso ideal, faça agora o cálculo do Índice de Massa Corporal - IMC e descubra!" />
        <meta name="keywords" content="peso, ideal, cálculo, imc, indice, massa, corporal"/>
        <meta name="robots" content="index, follow">

        <link rel="apple-touch-icon" sizes="57x57" href="apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon-180x180.png">
        <link rel="icon" type="imagepng" href="favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="imagepng" href="android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="imagepng" href="favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="imagepng" href="favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="manifest.json">
        <link rel="mask-icon" href="safari-pinned-tab.svg" color="#433cd1">
        <meta name="apple-mobile-web-app-title" content="Cálculo IMC">
        <meta name="application-name" content="Cálculo IMC">
        <meta name="msapplication-TileColor" content="#433cd1">
        <meta name="msapplication-TileImage" content="mstile-144x144.png">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="css/style.css">

        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-i18n/angular-locale_pt-br.js"></script>
        <script src="bower_components/angular-messages/angular-messages.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="lib/jquery.maskMoney.js"></script>
        <script src="lib/angular.maskMoney.js"></script>
        <script src="js/app.js"></script>
        <script src="js/config.js"></script>
        <script src="js/services.js"></script>
        <script src="js/directives.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-controller="ImcController" ng-style="estilo">
        <div class="container-fuild">
            <div class="text-center">
                <h1>
                    <small>{{titulo_1}}</small><br>{{titulo_2}}
                </h1>
            </div>
            <div ng-view></div>
        </div>
    </body>
</html>
