<div id="view">
    <div id="imagem_formulario">
        <img src="img/boneco.svg">
    </div>
    <div class="input-unico">
        <label>{{passos[passo]}}?</label>
        <input 
            type="text" 
            class="form-control" 
            ng-model="formulario[0]" 
            ng-show="passo == 0" 
            my-focus="formulario[0]"
            my-enter="avancarPasso(passo, formulario)"
            mask-money 
            suffix="' kg'" 
            mm-thousands="." 
            mm-decimal="," 
            precision="2"
            autofocus>
        <input 
            type="text" 
            class="form-control" 
            ng-model="formulario[1]" 
            ng-show="passo == 1" 
            my-focus="formulario[1]"
            my-enter="avancarPasso(passo, formulario)"
            mask-money 
            suffix="' m'" 
            mm-thousands="." 
            mm-decimal="," 
            precision="2">
        <input 
            type="text" 
            class="form-control" 
            ng-model="formulario[2]" 
            ng-show="passo == 2" 
            my-focus="formulario[2]"
            my-enter="avancarPasso(passo, formulario)"
            mask-money 
            suffix="' anos'" 
            precision="0">
        <button class="flecha" ng-model="flecha" ng-click="avancarPasso(passo, formulario)">
            <img src="img/flecha.png">
        </button>
        <div class="progresso" ng-style="{'width': progresso}"></div>
        <div class="validacao" ng-show="erro">{{erro}}</div>
    </div>
</div>