<div id="imagem_resultado">
    <img src="img/boneco.svg">
</div>
<div class="fundo-escuro">
    <h2 class="text-center">{{mensagem}}</h2>
</div>
<div class="text-center">
    <button 
        ng-show="!mensagem"
        ng-click="iniciarCalculo()" 
        class="botao-padrao margin-top-default">
        Iniciar cálculo
    </button>
    <button 
        ng-show="mensagem"
        ng-click="botao_tabela = true" 
        class="botao-padrao margin-top-default">
        Confira a tabela de classificação
    </button>
</div>
<div class="container margin-top-default" ng-show="botao_tabela">
    <div class="row">
        <div class="col-sm-4">
            <label>
                Crianças e Jovens
                <small>(até 20 anos)</small>
            </label>
            <table class="table table-striped">
                <tr>
                    <th>CLASSIFICAÇÃO</th>
                    <th class="text-center">IMC</th>
                </tr>
                <tr ng-repeat="registro in tabela" ng-show="registro.idade == 20">
                    <td>{{registro.classificacao}}</td>
                    <td class="text-center">{{registro.faixa}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <label>
                Adultos
                <small>(entre 21 e 65 anos)</small>
            </label>
            <table class="table table-striped tabela-padrao">
                <tr>
                    <th>CLASSIFICAÇÃO</th>
                    <th class="text-center">IMC</th>
                </tr>
                <tr ng-repeat="registro in tabela" ng-show="registro.idade == 65">
                    <td>{{registro.classificacao}}</td>
                    <td class="text-center">{{registro.faixa}}</td>
                </tr>
            </table>
        </div>
        <div class="col-sm-4">
            <label>
                Idosos
                <small>(a partir de 66 anos)</small>
            </label>
            <table class="table table-striped tabela-padrao">
                <tr>
                    <th>CLASSIFICAÇÃO</th>
                    <th class="text-center">IMC</th>
                </tr>
                <tr ng-repeat="registro in tabela" ng-show="registro.idade == null">
                    <td>{{registro.classificacao}}</td>
                    <td class="text-center">{{registro.faixa}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>